<a href="https://colab.research.google.com/github/MaliDipak/Recommender-System/blob/main/popularity_based_filtering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
rating = pd.read_csv('/content/Ratings.csv')
books = pd.read_csv('/content/Books.csv')
users = pd.read_csv('/content/Users.csv')

In [3]:
books

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...
...,...,...,...,...,...,...,...,...
152236,037575251X,"The Call of the Wild, White Fang, &amp; to Bui...",Jack London,1998,Modern Library,http://images.amazon.com/images/P/037575251X.0...,http://images.amazon.com/images/P/037575251X.0...,http://images.amazon.com/images/P/037575251X.0...
152237,1558748156,Teen Love: On Friendship,Kimberly Kirberger,2000,Health Communications,http://images.amazon.com/images/P/1558748156.0...,http://images.amazon.com/images/P/1558748156.0...,http://images.amazon.com/images/P/1558748156.0...
152238,1892494086,I Want Your Chair (Paperback),Elaine Shcwager,2000,Rattapallax Press,http://images.amazon.com/images/P/1892494086.0...,http://images.amazon.com/images/P/1892494086.0...,http://images.amazon.com/images/P/1892494086.0...
152239,0375756132,The Art of the Moving Picture (Modern Library),Vachel Lindsay,2000,Modern Library,http://images.amazon.com/images/P/0375756132.0...,http://images.amazon.com/images/P/0375756132.0...,http://images.amazon.com/images/P/0375756132.0...
152240,0816143161,Outbreak (G.K. Hall Large Print Book Series),Robin Cook,1987,Thorndike Pr,http://images.amazon.com/images/P/0816143161.0...,http://images.amazon.com/images/P/0816143161.0...,http://images.amazon.com/

In [4]:
rating

         User-ID         ISBN  Book-Rating
0         276725   034545104X            0
1         276726   0155061224            5
2         276727   0446520802            0
3         276729   052165615X            3
4         276729   0521795028            6
...          ...          ...          ...
1149775   276704   1563526298            9
1149776   276706   0679447156            0
1149777   276709   0515107662           10
1149778   276721   0590442449           10
1149779   276723  05162443314            8

[1149780 rows x 3 columns]

In [5]:
users

        User-ID                            Location   Age
0             1                  nyc, new york, usa   NaN
1             2           stockton, california, usa  18.0
2             3     moscow, yukon territory, russia   NaN
3             4           porto, v.n.gaia, portugal  17.0
4             5  farnborough, hants, united kingdom   NaN
...         ...                                 ...   ...
278853   278854               portland, oregon, usa   NaN
278854   278855  tacoma, washington, united kingdom  50.0
278855   278856           brampton, ontario, canada   NaN
278856   278857           knoxville, tennessee, usa   NaN
278857   278858                dublin, n/a, ireland   NaN

[278858 rows x 3 columns]

In [6]:
print(books.shape)
print(rating.shape)
print(users.shape)

(152241, 8)
(1149780, 3)
(278858, 3)

In [7]:
books.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            0
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            0
dtype: int64

In [8]:
rating.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [9]:
users.isnull().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [10]:
books.duplicated().sum()

0

In [11]:
rating.duplicated().sum()

0

In [12]:
users.duplicated().sum()

0

## Popularity Based Recommender System

- To 50 books based on their popularity
- Only those books which have a rating of 250 or more.

In [13]:
# Books table contain information of books,
# while rating column contain information of ratings on books in books table
# 'ISBN' is unique in both the tables

books_with_ratings = rating.merge(books,on='ISBN')
books_with_ratings

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
3,8680,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
4,10314,034545104X,9,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
...,...,...,...,...,...,...,...,...,...,...
870978,276688,0517145553,0,Mostly Harmless,Douglas Adams,1995,Random House Value Pub,http://images.amazon.com/images/P/0517145553.0...,http://images.amazon.com/images/P/0517145553.0...,http://images.amazon.com/images/P/0517145553.0...
870979,276688,1575660792,7,Gray Matter,Shirley Kennett,1996,Kensington Publishing Corporation,http://images.amazon.com/images/P/1575660792.0...,http://images.amazon.com/images/P/1575660792.0...,http://images.amazon.com/images/P/1575660792.0...
870980,276690,0590907301,0,Triplet Trouble and the Class Trip (Triplet Tr...,Debbie Dadey,1997,Apple,http://images.amazon.com/images/P/0590907301.0...,http://images.amazon.com/images/P/0590907301.0...,http://images.amazon.com/images/P/0590907301.0...
870981,276704,0679752714,0,A Desert of Pure Feeling (Vintage Contemporaries),Judith Freeman,1997,Vintage Books USA,http://images.amazon.com/images/P/0679752714.0...,http://images.amazon.com/images/P/0679752714.0...,http://images.amazon.com/images/P/0679752714.0...
870982,276704,0806917695,5,Perplexing Lateral Thinking Puzzles: Scholasti...,Paul Sloane,1997,Sterling Publishing,http://images.amazon.com/images/P/0806917695.0...,http://images.amazon.com/images/P/0806917695.0...,http://images.amazon.com/images/P/0806917695.0...

In [14]:
rating['ISBN'].duplicated().sum()

809224

In [15]:
books_with_ratings.groupby('ISBN').count()[['Book-Title','Book-Rating']]

            Book-Title  Book-Rating
ISBN
0001046438           1            1
0001046713           1            1
000104687X           1            1
0001046934           1            1
0001047213           1            1
...                ...          ...
B0001GDNCK           1            1
B0001GMSV2           2            2
B0001PIOX4           1            1
B000234N76           1            1
B00029DGGO           1            1

[152142 rows x 2 columns]

In [16]:
rating.groupby('ISBN').count()[['Book-Rating']]

             Book-Rating
ISBN
 0330299891            2
 0375404120            2
 0586045007            1
 9022906116            2
 9032803328            1
...                  ...
cn113107               1
ooo7156103             1
§423350229             1
´3499128624            1
Ô½crosoft              1

[340556 rows x 1 columns]

In [17]:
num_rating_df=books_with_ratings.groupby('Book-Title').count()['Book-Rating'].reset_index()

In [18]:
num_rating_df.rename(columns={'Book-Rating':'num_ratings'},inplace=True)

In [19]:
num_rating_df

                                               Book-Title  num_ratings
0        A Light in the Storm: The Civil War Diary of ...            4
1                    Apple Magic (The Collector's series)            1
2        Beyond IBM: Leadership Marketing and Finance ...            1
3                                            Dark Justice            1
4        Earth Prayers From around the World: 365 Pray...           10
...                                                   ...          ...
137256                                     Ã?Â?bermorgen.            1
137257                                      Ã?Â?lpiraten.            2
137258                     Ã?Â?rger mit Produkt X. Roman.            4
137259                              Ã?Â?stlich der Berge.            3
137260                                  Ã?Â?thique en toc            2

[137261 rows x 2 columns]

In [20]:
# avg rating = addition of all the ratings / total number of ratings

avg_rating_df=books_with_ratings.groupby('Book-Title').mean()['Book-Rating'].reset_index()
avg_rating_df.rename(columns={'Book-Rating':'avg_rating'},inplace=True)
avg_rating_df

                                               Book-Title  avg_rating
0        A Light in the Storm: The Civil War Diary of ...    2.250000
1                    Apple Magic (The Collector's series)    0.000000
2        Beyond IBM: Leadership Marketing and Finance ...    0.000000
3                                            Dark Justice   10.000000
4        Earth Prayers From around the World: 365 Pray...    5.000000
...                                                   ...         ...
137256                                     Ã?Â?bermorgen.    0.000000
137257                                      Ã?Â?lpiraten.    0.000000
137258                     Ã?Â?rger mit Produkt X. Roman.    5.250000
137259                              Ã?Â?stlich der Berge.    2.666667
137260                                  Ã?Â?thique en toc    4.000000

[137261 rows x 2 columns]

In [21]:
4/85526

4.676940345625891e-05

In [22]:
4/85527

4.6768856618377825e-05

In [23]:
10/85527

0.00011692214154594455

In [24]:
popular_df = num_rating_df.merge(avg_rating_df,on='Book-Title')
popular_df

,Book-Title,num_ratings,avg_rating
0,A Light in the Storm: The Civil War Diary of ...,4,2.250000
1,Apple Magic (The Collector's series),1,0.000000
2,Beyond IBM: Leadership Marketing and Finance ...,1,0.000000
3,Dark Justice,1,10.000000
4,Earth Prayers From around the World: 365 Pray...,10,5.000000
...,...,...,...
137256,Ã?Â?bermorgen.,1,0.000000
137257,Ã?Â?lpiraten.,2,0.000000
137258,Ã?Â?rger mit Produkt X. Roman.,4,5.250000
137259,Ã?Â?stlich der Berge.,3,2.666667
137260,Ã?Â?thique en toc,2,4.000000

In [25]:
popularity_based=popular_df[popular_df['num_ratings']>=200].sort_values('avg_rating',ascending=False).head(50)

In [26]:
popularity_based

,Book-Title,num_ratings,avg_rating
45624,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804
45616,Harry Potter and the Goblet of Fire (Book 4),387,5.824289
45630,Harry Potter and the Sorcerer's Stone (Book 1),274,5.748175
45619,Harry Potter and the Order of the Phoenix (Boo...,346,5.488439
34487,Ender's Game (Ender Wiggins Saga (Paperback)),249,5.409639
45608,Harry Potter and the Chamber of Secrets (Book 2),556,5.183453
108914,The Hobbit : The Enchanting Prelude to The Lor...,281,5.007117
106352,The Fellowship of the Ring (The Lord of the Ri...,364,4.909341
45633,Harry Potter and the Sorcerer's Stone (Harry P...,575,4.895652
120648,"The Two Towers (The Lord of the Rings, Part 2)",254,4.763780
125203,To Kill a Mockingbird,506,4.687747
104081,The Da Vinci Code,894,4.652125
106660,The Five People You Meet in Heaven,427,4.543326
102365,The Catcher in the Rye,448,4.537946
418,1984,283,4.469965
111837,The Lovely Bones: A Novel,1295,4.468726
108002,The Great Gatsby,205,4.458537
81586,Prodigal Summer: A Novel,253,4.450593
117752,The Secret Life of Bees,773,4.439845
72843,Neverwhere,264,4.439394
116662,"The Return of the King (The Lord of the Rings,...",204,4.436275
127136,"Tuesdays with Morrie: An Old Man, a Young Man,...",492,4.363821
95603,Stupid White Men ...and Other Sorry Excuses fo...,283,4.356890
116502,The Red Tent (Bestselling Backlist),723,4.334716
15574,Brave New World,226,4.331858
108898,The Hitchhiker's Guide to the Galaxy,266,4.327068
73217,Nickel and Dimed: On (Not) Getting By in America,335,4.289552
119696,The Tao of Pooh,211,4.289100
52968,Into the Wild,252,4.273810
8366,Animal Farm,232,4.250000
36275,Fahrenheit 451,406,4.248768
4275,A Walk in the Woods: Rediscovering America on ...,205,4.243902
42383,Girl with a Pearl Earring,526,4.218631
77128,Outlander,280,4.160714
119355,"The Subtle Knife (His Dark Materials, Book 2)",225,4.124444
103047,The Color of Water: A Black Man's Tribute to H...,223,4.107623
132968,Where the Heart Is (Oprah's Book Club (Paperba...,585,4.105983
88298,Seabiscuit: An American Legend,275,4.098182
61068,Life of Pi,664,4.088855
100154,The Bean Trees,389,4.087404
1267,"A Child Called \It\"": One Child's Courage to S...",265,4.086792
4867,ANGELA'S ASHES,279,4.075269
47333,High Fidelity,246,4.073171
43285,Good in Bed,490,4.055102
107681,"The Golden Compass (His Dark Materials, Book 1)",332,4.048193
36876,Fast Food Nation: The Dark Side of the All-Ame...,321,4.037383
91529,Skipping Christmas,321,4.018692
7285,American Gods,302,4.006623
59836,Left Behind: A Novel of the Earth's Last Days ...,318,4.003145
98011,Tears of the Giraffe (No.1 Ladies Detective Ag...,202,3.975248

In [27]:
popularity_based.shape

(50, 3)

In [28]:
popularity_based.merge(books,on='Book-Title').drop_duplicates('Book-Title').shape

(50, 10)

In [29]:
top_50_books = popularity_based.merge(books,on='Book-Title').drop_duplicates('Book-Title')[['Book-Title','Book-Author','Image-URL-M','num_ratings','avg_rating']]

In [30]:
top_50_books.shape

(50, 5)

In [31]:
top_50_books.reset_index(drop=True,inplace=True)

In [32]:
top_50_books

,Book-Title,Book-Author,Image-URL-M,num_ratings,avg_rating
0,Harry Potter and the Prisoner of Azkaban (Book 3),J. K. Rowling,http://images.amazon.com/images/P/0439136350.0...,428,5.852804
1,Harry Potter and the Goblet of Fire (Book 4),J. K. Rowling,http://images.amazon.com/images/P/0439139597.0...,387,5.824289
2,Harry Potter and the Sorcerer's Stone (Book 1),J. K. Rowling,http://images.amazon.com/images/P/0590353403.0...,274,5.748175
3,Harry Potter and the Order of the Phoenix (Boo...,J. K. Rowling,http://images.amazon.com/images/P/043935806X.0...,346,5.488439
4,Ender's Game (Ender Wiggins Saga (Paperback)),Orson Scott Card,http://images.amazon.com/images/P/0312853238.0...,249,5.409639
5,Harry Potter and the Chamber of Secrets (Book 2),J. K. Rowling,http://images.amazon.com/images/P/0439064872.0...,556,5.183453
6,The Hobbit : The Enchanting Prelude to The Lor...,J.R.R. TOLKIEN,http://images.amazon.com/images/P/0345339681.0...,281,5.007117
7,The Fellowship of the Ring (The Lord of the Ri...,J.R.R. TOLKIEN,http://images.amazon.com/images/P/0345339703.0...,364,4.909341
8,Harry Potter and the Sorcerer's Stone (Harry P...,J. K. Rowling,http://images.amazon.com/images/P/059035342X.0...,575,4.895652
9,"The Two Towers (The Lord of the Rings, Part 2)",J.R.R. TOLKIEN,http://images.amazon.com/images/P/0345339711.0...,254,4.763780
10,To Kill a Mockingbird,Harper Lee,http://images.amazon.com/images/P/0446310786.0...,506,4.687747
11,The Da Vinci Code,Dan Brown,http://images.amazon.com/images/P/0385504209.0...,894,4.652125
12,The Five People You Meet in Heaven,Mitch Albom,http://images.amazon.com/images/P/0786868716.0...,427,4.543326
13,The Catcher in the Rye,J.D. Salinger,http://images.amazon.com/images/P/0316769487.0...,448,4.537946
14,1984,George Orwell,http://images.amazon.com/images/P/0451524934.0...,283,4.469965
15,The Lovely Bones: A Novel,Alice Sebold,http://images.amazon.com/images/P/0316666343.0...,1295,4.468726
16,The Great Gatsby,F. Scott Fitzgerald,http://images.amazon.com/images/P/185326041X.0...,205,4.458537
17,Prodigal Summer: A Novel,Barbara Kingsolver,http://images.amazon.com/images/P/0060959037.0...,253,4.450593
18,The Secret Life of Bees,Sue Monk Kidd,http://images.amazon.com/images/P/0142001740.0...,773,4.439845
19,Neverwhere,Neil Gaiman,http://images.amazon.com/images/P/0380789019.0...,264,4.439394
20,"The Return of the King (The Lord of the Rings,...",J.R.R. TOLKIEN,http://images.amazon.com/images/P/0345339738.0...,204,4.436275
21,"Tuesdays with Morrie: An Old Man, a Young Man,...",MITCH ALBOM,http://images.amazon.com/images/P/0385484518.0...,492,4.363821
22,Stupid White Men ...and Other Sorry Excuses fo...,Michael Moore,http://images.amazon.com/images/P/0060392452.0...,283,4.356890
23,The Red Tent (Bestselling Backlist),Anita Diamant,http://images.amazon.com/images/P/0312195516.0...,723,4.334716
24,Brave New World,Aldous Huxley,http://images.amazon.com/images/P/0060809833.0...,226,4.331858
25,The Hitchhiker's Guide to the Galaxy,Douglas Adams,http://images.amazon.com/images/P/0671461494.0...,266,4.327068
26,Nickel and Dimed: On (Not) Getting By in America,Barbara Ehrenreich,http://images.amazon.com/images/P/0805063897.0...,335,4.289552
27,The Tao of Pooh,Benjamin Hoff,http://images.amazon.com/images/P/0140067477.0...,211,4.289100
28,Into the Wild,Jon Krakauer,http://images.amazon.com/images/P/0385486804.0...,252,4.273810
29,Animal Farm,George Orwell,http://images.amazon.com/images/P/0451526341.0...,232,4.250000
30,Fahrenheit 451,Ray Bradbury,http://images.amazon.com/images/P/3257208626.0...,406,4.248768
31,A Walk in the Woods: Rediscovering America on ...,Bill Bryson,http://images.amazon.com/images/P/0767902521.0...,205,4.243902
32,Girl with a Pearl Earring,Tracy Chevalier,http://images.amazon.com/images/P/0452282152.0...,526,4.218631
33,Outlander,DIANA GABALDON,http://images.amazon.com/images/P/0440222915.0...,280,4.160714
34,"The Subtle Knife (His Dark Materials, Book 2)",PHILIP PULLMAN,http://images.amazon.com/images/P/0375823468.0...,225,4.124444
35,The Color of Water: A Black Man's Tribute to H...,James McBride,http://images.amazon.com/images/P/1573225789.0...,223,4.107623
36,Where the Heart Is (Oprah's Book Club (Paperba...,Billie Letts,http://images.amazon.com/images/P/0446672211.0...,585,4.105983
37,Seabiscuit: An American Legend,LAURA HILLENBRAND,http://images.amazon.com/images/P/0449005615.0...,275,4.098182
38,Life of Pi,Yann Martel,http://images.amazon.com/images/P/0151008116.0...,664,4.088855
39,The Bean Trees,Barbara Kingsolver,http://images.amazon.com/images/P/0060915544.0...,389,4.087404
40,"A Child Called \It\"": One Child's Courage to S...",Dave Pelzer,http://images.amazon.com/images/P/1558743669.0...,265,4.086792
41,ANGELA'S ASHES,Frank McCourt,http://images.amazon.com/images/P/0684874350.0...,279,4.075269
42,High Fidelity,Nick Hornby,http://images.amazon.com/images/P/1573225517.0...,246,4.073171
43,Good in Bed,Jennifer Weiner,http://images.amazon.com/images/P/0743418174.0...,490,4.055102
44,"The Golden Compass (His Dark Materials, Book 1)",PHILIP PULLMAN,http://images.amazon.com/images/P/037582345X.0...,332,4.048193
45,Fast Food Nation: The Dark Side of the All-Ame...,Eric Schlosser,http://images.amazon.com/images/P/0060938455.0...,321,4.037383
46,Skipping Christmas,JOHN GRISHAM,http://images.amazon.com/images/P/0385505833.0...,321,4.018692
47,American Gods,Neil Gaiman,http://images.amazon.com/images/P/0380789035.0...,302,4.006623
48,Left Behind: A Novel of the Earth's Last Days ...,Tim Lahaye,http://images.amazon.com/images/P/0842329129.0...,318,4.003145
49,Tears of the Giraffe (No.1 Ladies Detective Ag...,Alexander McCall Smith,http://images.amazon.com/images/P/1400031354.0...,202,3.975248